* { /* Apply Open Sans to all elements on the page with Universal Selector */
    font-family: "Open Sans", "Roboto", "Lato";
}

h1 { /* apply to all h1 elements */
    position: relative;
    background-color: #2f4f4f; /* hex code */
    color: whitesmoke; /* color name */
    width: 99%;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2mm;
    border-radius: 15px;
    padding: 10pt 0pt 10pt 0pt;
}

h2 { /* apply to all h2 elements */
    position: static;
    background-color:rgb(30, 144, 255); /* red, green, blue values */
    color: hsl(0, 0%, 100%); /* hue, saturation, lightness values */
    text-align: center;
    width: 100%;
}

.day { /* class selector for day entries */
    text-decoration: underline overline;
    text-align: start;
    padding: 15px 0px 15px 0px;
}

h4 {
    text-decoration: underline;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-right: 0px;
}

#nav-content { /* apply to the page's nav with ID selector */
    position: sticky;
    padding-top: 20px;
    background-color: lightgray; /* color name */
    border-style: ridge;
    border-color: navy;
    border-width: .15cm;
    border-radius: 10px;
    margin: auto;
}

#april9th {
    color: #8b0000;
}

#april10th {
    color: darkblue;
}

#april11th {
    color: rgb(0, 100, 0);
}

#entry-form {
    color: #9400d3;
}

audio[src="sleep.mp3"] {
    width: 75vmin;
    max-width: 75%;
    display: block;
}

img:hover {
    border-color: yellow;
    border-width: 1vw;
    border-style: solid;
}

img.pup {
    height: 40rem;
    width: 30rem;
    position: initial;
    display: inline;
    margin: 10px 10px 10px 10px;
}

video {
    max-height: 30rem;
    max-width: 30rem;
    display: inline-flex;
    margin: 30px 30px 30px 30px;
}

video:active {
    border-color: hsl(0, 100%, 50%);
    border-width: 1vw;
    border-style: double;
}

@media only screen and (min-width: 100px) {
    body {
        background-color: lightgoldenrodyellow;
    }
}

ul, ol, p {
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

ul li {
    text-decoration: underline;
    text-decoration-color: blue;
}

details > summary {
    background-color: whitesmoke;
    width: 25%;
}

label ~ input {
    background-color: hsl(203, 92%, 75%);
    color: #ffffff;
}

hr + footer {
    font-style: italic;
    margin: auto;
    text-align: center;
}

#grid {
    display: grid;
    grid-template-columns: 250px 250px 200px;
    grid-template-rows: 50px 50px 50px;
    column-gap: 5%;
    align-items: center;
}

#name {
    grid-row-start: 2;
    grid-column-start: 1;
}

#major {
    grid-row-start: 2;
    grid-column-start: 2;
}

#gradyear {
    grid-row-start: 2;
    grid-column-start: 3;
}

#pup-section {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content:space-evenly;
    flex-direction: row;
}